################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ModificacionExcvel/FileContentIndex/c4cd39e1-54aa-479d-aa34-00fe51dedbde.vsidx
