################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ModificacionExcvel/FileContentIndex/c4cd39e1-54aa-479d-aa34-00fe51dedbde.vsidx
/.vs/ModificacionExcvel/FileContentIndex/e32f09e0-740a-4ee2-ad1a-2251c17a8656.vsidx
